@import "nullstyle.css"; /* Обнуляющая таблица стилей */
@import "spoiler.css"; /* Классы для организации споллеров*/

@import "tb_browser.css"; /* стили таблицы версий браузеров*/

@import "ex.css"; /* стили для примеров */

@import "field.css"; /*Блоки с заголовком*/

@import "value.css"; /*таблица "параметр - описание"*/

@import "short_info.css"; /*Краткая информация */

/*==================================================== */
/*== Дополнительныйе классы для оформления спойлера == */
/*==================================================== */
/* убираю декор из краткого описания свойства */
.spoiler__title>span{
	text-transform:none;
	letter-spacing: normal;
}

/* Красная буквица - есть описание */
.red_let::first-letter{
	color: red;
	font-weight: 700;
}
/* серая буквица - нет описания */
.g_let::first-letter{
	color: grey;
	font-weight: 700;
}
/* серый шрифт для информации об отсутствии описания */
.txt_grey{
	color: grey;
}

/* добавляет отступ */
.p10{
	padding: 10px;
}
.ml30{
	margin-left: 30px;
}


/* добавляю рамку вокруг спойлера */
.box{
	border: 1px solid #000;
	border-radius: 7px;
}
.box p{
	text-align: justify;

}
.box>.spoiler__text{
	padding:  10px;
}

/* Задаю стиль списка поумолчанию */
ul li{
	list-style: square outside;
	margin-left: 2em;
}

/* класс для выделения свойств */
.html_attr, .css_attr{
	font-family: 'Courier New', Courier, monospace;
	font-style: italic;
	/* font-size: 1.1em; */
}