/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

body {
  background-color: #eee;
}
.example-block {
  font-size: 40px;
  opacity: 0.8;
  /* visibility: hidden; */
  margin: 0 0 50px 0;
  /* border: 10px dotted #000; */
  border: 1px solid #eee;
  /* border-right: 10px double blue;
    border-bottom: 10px groove yellow; */
  border-radius: 20px 105px;
  /* border-inline: 20px solid red; */
  /* outline: 2px ridge green; */
  overflow: hidden;
  background-color: #eee;
  box-shadow: 10px 10px 25px #000, inset 0px 0px 55px 1px #aaa;
  text-shadow: 2px 1px 2px #aaa, -2px 1px 7px #fff;
  text-align: justify;
  /* box-shadow: inset 0px 0px 55px 1px #aaa; */
  padding: 35px;
  margin: 25px;
  /* border-style: solid; */
}
.example-string {
  font-size: 20px;
  /* border: 10px dotted #000; */
  outline: 2px dotted green;
  /* background-color: #fff; */
}
.example-img {
  /* border: 3px ridge yellow; */
  /* border-top: 8px groove yellow;
    border-bottom: 8px ridge yellow;
    border-right: 8px ridge yellow; */
  border-radius: 50%;
  /* outline: 1px solid #000; */
  width: 250px;
  border: 1px solid red;
  box-shadow: inset 10px 10px 10px 10px blue;
  opacity: 0.5;
}
