body {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  color: #0a143a;
}

.container {
  max-width: 1146px;
  margin: auto;
}

.header {
  padding: 30px 0;
  margin-bottom: 12px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.logo {
  padding: 0;
}
.logo-mage {
  padding: 0;
}
.navbar-menu {
  margin-right: auto;
}
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 22px;
  padding-right: 22px;
}
.menu-item:not(:last-child) {
  margin-right: 14px;
}
.menu-link {
  text-decoration: none;
  color: inherit; /*взять цвет у родителя*/
}
.button-group {
  padding: 0;
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
.button-link {
  color: inherit;
}
.button-primary {
  background: #256eeb;
  border-radius: 5px;
  color: #fff;
}
.search-panel {
  display: flex;
  height: 50px;
  padding: 3px;
  background: #256eeb;
  border-radius: 5px;
}
.search-input {
  flex-grow: 1;
  padding-left: 22px;
  padding-right: 22px;
  background: #ffffff;
  border-radius: 5px;
  border: none;
}
.search-button {
  display: flex;
  align-items: center;

  background: #256eeb;
  border: none;
  color: #fff;
  padding-left: 20px;
  padding-right: 17px;
}
.search-button-text {
  margin-left: 5px;
}

.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 30px;
}

.main {
  padding: 0;
}
.main-single {
  display: flex;
  align-items: flex-start;
}
.content {
  max-width: 460px;
  margin-right: 30px;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* body {
  background: #000;
  color: #000;
} */

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  /* height: 80%; */
  border-radius: 10px;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  border-radius: 10px;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.single-price {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 25px;
  display: block;
}
.author {
  min-width: 256px;
}
.author-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 30px;
}
.author-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.author-name {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.rating {
  margin-bottom: 5px;
}
.rating-counter {
  opacity: 0.5;
  margin-left: 10px;
}
.author-status {
  font-size: 12px;
  line-height: 14px;
}
.button-block {
  display: block;
  width: 100%;
  height: 54px;
  margin-bottom: 14px;
  border: none;
}
.button-succes {
  background: #14b4be;
  color: #fff;
  border-radius: 5px;
}
.page-title{
  margin-top: 0;
  margin-bottom: 25px;
}
.content-text {
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  color: #0a143a;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.card {
  margin-bottom: 20px;
  max-width: 254px;
}
.card:not(:nth-child(3n)) {
  margin-right: 20px;
}
.card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-link {
  text-decoration: none;
}
.card-title {
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;
  margin-top: 12px;
  margin-bottom: 5px;
}
.like {
  margin-left: 15px;
  background: #fff;
  border: none;
  cursor: pointer;
}
.card-price {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 19px;
}
.card-text {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
}
.sidebar {
  padding: 0;
}
.sidebar hr {
  border: 1px solid #e5e5e5;
  height: 0px;
}
.sidebar .page-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #0a143a;
}
.service {
  margin-bottom: 25px;
}
.service-image {
  padding: 0;
}
.service-title {
  margin-top: 7px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #0a143a;
}
.service-text {
  max-width: 217px;
  font-size: 14px;
  line-height: 16px;

  color: #0a143a;
}

.footer-text {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
}
.footer-link {
  display: inline-block;
  margin-bottom: 5px;
  color: inherit;
  text-decoration: none;
}
.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
}
.footer-menu-item {
  padding: 0;
}
