body {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  color: #0a143a;
}

.header {
  max-width: 1146px;
  margin: auto;
  padding-top: 30px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.logo {
}
.logo-mage {
}
.navbar-menu {
  margin-right: auto;
}
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 22px;
  padding-right: 22px;
}
.menu-item:not(:last-child) {
  margin-right: 14px;
}
.menu-link {
  text-decoration: none;
  color: inherit; /*взять цвет у родителя*/
}
.button-group {
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
.button-link {
  color: inherit;
}
.button-primary {
  background: #256eeb;
  border-radius: 5px;
  color: #fff;
}
.search-panel {
  display: flex;
  height: 50px;
  padding: 3px;
  background: #256eeb;
  border-radius: 5px;
}
.search-input {
  flex-grow: 1;
  padding-left: 22px;
  padding-right: 22px;
  background: #ffffff;
  border-radius: 5px;
  border: none;
}
.search-button{
   display: flex;
   align-items: center;

   background: #256EEB;
   border:none;
   color: #FFF;
   padding-left: 20px;
   padding-right: 17px;
}
.search-button-text{
   margin-left: 5px;
}
